body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 18px;
    text-align: center; /* Centraliza o texto do parágrafo */
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 15px;
}

.imagens {
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    text-align: center;
}

table img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}
